<h1>Onaque</h1>


<table class="table">
	<% @apps.each do |app| %>
		<tr>
			<td><%= image_tag app.thumbnail %> <%= app.name %></td>
			<td><%= link_to "Link", app.link %></td>
			<td><%= app.category %></td>
		</tr>
	<% end %>
</table>
